.hand-title-bar {
    margin: 5px;
    margin-bottom: 0;
    padding: 5px 0;
    border: 1px solid @header-border;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    background: @header-background;
    text-align: center;
    text-transform: uppercase;
    width: 480px !important;
    position: relative;
    font-weight: bold;
}

.hand {
    margin-left: 50px;
    position: relative;
    width: 160px;

    .card-wrapper {
        position: absolute;

        margin: 0 5px 0 0;

        left: 50px;

        z-index: @layer-cards;

        transform-origin: 50% 100%;
        transition: transform 0.3s ease-in-out;
    }

    &.small {
        height: @card-sm-height;
    }

    &.large {
        height: @card-lg-height;
    }

    &.x-large {
        height: @card-xl-height;
    }

    height: @card-height;
    width: 160px;
    padding: 0px;
    margin: 0px 5px;
    transition: transform 0.3s ease-in-out;
}

.hand.squish .card-wrapper {
    position: absolute;
}
