.player-stats-box {
    width: 100%;
}

.player-stats {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: stretch;

    &.our-side {
        flex-direction: column;
    }
    &.panel {
        margin: 0;
        border-radius: 0;
        padding: 10px 0 10px 5px;
        position: initial;
    }
}

.stats-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top:5px;
}

.state {
    height: 27px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: solid 2px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    span {
        padding-right: 3px;
        padding-left: 3px;
    }

    &:first-of-type {
        border-left: none;
    }

    &.first-player-state {
        flex-grow: 0;
        margin:10px;
    }

    .glyphicon {
        color: @brand-primary;
    }
}

.clock-active {
    color: @brand-tertiary;
}

.player-stats-row {
    width: 100%;
    z-index: @layer-cards + 100;
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:4;

    .player-stats {
        margin: 0;
        border-radius: 0;
        padding: 10px 0 10px 5px;
        position: static;
        align-items: center;
        flex-direction: row;
    }

    .state {
        flex-grow: 0;
    }

    &.our-side {
        .player-stats {
            flex-direction: row;
        }
        grid-row-start:3;
    }
}

.statpng {
    transform: rotate(180deg);
}

.btn-stat {
    padding: 0;
    font-size: 14pt;
    line-height: 18px;
    height: 22px;
    width: 22px;
    background-color: transparent;
}

.btn-stat:hover {
    background-color: @brand-info;
    border-color: @brand-info;
}

.btn-stat:focus {
    outline: 0px;
}

.first-player-indicator {
    margin:10px;
    height: 50px;
    width: 40px;
    position: relative;
    justify-content: center;
    align-items: center;

    &.hidden {
        visibility:hidden;
    }
    
    &.invisible {
        visibility: hidden;
    }
}
@media (max-width: 1366px) {
    .first-player-indicator {
        height: 25px;
        width: 20px;
        margin:2px;
        
        &.hidden {
            display:none;
        }
        &.invisible {
            display:none;
        }
    }

    .player-stats {
        font-size: 10pt;

        &.panel {
            padding: 2px 0 2px 5px;
    }
}
}

.player-avatar {
    padding-right: 10px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 27px;
}

.stat-image {
    margin-right: 5px;
    width: 24px;
    height: 24px;
    &.small {
        width: 16px;
        height: 16px;
    }
    &.large {
        width: 28px;
        height: 28px;
    }
    &.x-large {
        width:28px;
        height:28px;
    }
    background: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.stat-value {
    margin-left: 5px;
    width: 18px;
    height: 18px;
    text-align: center;
}