.center {
    flex-direction: column;
    display: flex;
}


.player-board {
    margin-top:10px;
    display:grid;
    grid-column-start:1;
    grid-column-end:4;

    &.our-side {
        grid-row-start:4;
        grid-row-end:6;
        align-content:bottom;
    }
    &.their-side {
        grid-row-start:1;
        grid-row-end:3;
    }
}

.player-board.our-side > div:first-child {
    justify-content:bottom;
}

player-home {
    grid-row-start:1;
    grid-column-start:2;
}

.player-home-row {
    display: flex;
    margin-top: 5px;

    &.our-side {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.player-home-row-container {
    display: flex;
    z-index: 1030;
    position: absolute;
}

.player-deck-row {
    
    grid-row-start: 1;
    grid-column-start:1;
    
    margin-top: 5px;

    &.our-side {
        margin-top: 0;
        margin-bottom: 18px;
        grid-row-start: 3;
    }
}

.player-stronghold-row {
    grid-row-start:1;
    grid-column-start:2;
    grid-column-end:3;
    display: flex;

    &.our-side {
        grid-row-start:2;
        grid-column-start:1;
        grid-column-end:2;
    }
}

.deck-cards {
    display: flex;
}



.card-row, .hand {
    display: flex;
    justify-content: flex-start;
}

.card-row .card.horizontal {
    margin-bottom: @card-height - @card-width;
}
.card-row {
    flex-direction:row;
    justify-content: flex-start;
}

.card-wrapper {
    &.at-home {
        margin: 0px 5px 0px 5px;
    }
}

.board-middle {
    margin-top:40px;
    display: grid;
    grid-template-rows: @card-height*1.3 1fr @card-height*1.3;
    grid-template-columns: auto;
    grid-row-start:1;
    grid-row-end:4;
    grid-column-start:2;
}

.board-inner {
    grid-row-start:2;
    grid-column-start:1;
}

.play-area {
    height:100%;
    display:grid;
    grid-template-rows: (@card-height*1.3) 1fr @center-bar-height 1fr (@card-height*1.3);
    grid-row-start:1;
    grid-row-end:6;
    grid-column-start:1;
    grid-column-end:4;
}