.center {
    flex-direction: column;
    display: flex;
}


.player-board {
    padding-top:10px;
    padding-bottom:10px;
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end:2;
    display:grid;
    grid-template-columns: 1fr repeat(3,(@card-width + 10px));
    grid-template-rows: minmax(@card-height+@attachment-offset*2,auto) minmax(@card-height + @attachment-offset + 5px,auto);

    &.small {
        grid-template-columns: 1fr repeat(3, (@card-sm-width + 10px));
        grid-template-rows: minmax(@card-sm-height+@attachment-offset-sm*2,auto) minmax(@card-sm-height + @attachment-offset-sm + 5px,auto) minmax(2*@attachment-offset,auto);
    }
    &.large {
        grid-template-columns: 1fr repeat(3, (@card-lg-width + 10px));
        grid-template-rows: minmax(@card-lg-height+@attachment-offset-lg*2,auto) minmax(@card-lg-height + @attachment-offset-lg + 5px,auto) minmax(2*@attachment-offset,auto);
    }
    &.x-large {
        grid-template-columns: 1fr repeat(3, (@card-xl-width + 10px));
        grid-template-rows: minmax(@card-xl-height+@attachment-offset-xl*2,auto) minmax(@card-xl-height + @attachment-offset-xl + 5px,auto) minmax(2*@attachment-offset,auto);
    }
    

    &.our-side {
        grid-row-start:5;
        grid-row-end:6;
        grid-template-columns: repeat(3, (@card-width + 10px)) 1fr;
        grid-template-rows: minmax(2*@attachment-offset,auto) minmax(@card-height+@attachment-offset + 5px,auto) minmax(@card-height + @attachment-offset + 5px,auto);
        &.small {
            grid-template-columns: repeat(3, (@card-sm-width + 10px)) 1fr;
            grid-template-rows: minmax(2*@attachment-offset-sm,auto) minmax(@card-sm-height+@attachment-offset-sm+ 5px,auto) minmax(@card-sm-height + @attachment-offset-sm + 5px,auto);
        }
        &.large {
            grid-template-columns: repeat(3, (@card-lg-width + 10px)) 1fr;
            grid-template-rows: minmax(2*@attachment-offset-lg,auto) minmax(@card-lg-height+@attachment-offset-lg + 5px,auto) minmax(@card-lg-height + @attachment-offset-lg + 5px,auto);
        }
        &.x-large {
            grid-template-columns: repeat(3, (@card-xl-width + 10px)) 1fr;
            grid-template-rows: minmax(2*@attachment-offset-xl,auto) minmax(@card-xl-height+@attachment-offset-xl  + 5px,auto) minmax(@card-xl-height + @attachment-offset-xl + 5px,auto);
        }
    }
}

.player-board.our-side > div:first-child {
    justify-content:bottom;
}

.player-home-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    min-width:0;
    min-height:0;
    &.our-side {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.player-home-row-container {
    display: flex;
    z-index: 1030;
    position: absolute;
}

.player-deck-row {
    grid-row-start: 1;
    grid-column-start:1;
    grid-column-end:5;
    &.our-side {
        grid-row-start: 3;
        grid-row-end:4;
    }
}

.player-stronghold-row {
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items: flex-start;
    grid-row-start:2;
    grid-column-start:3;
    grid-column-end:5;

    &.favor {
        grid-column-start:2;
    }
    &.our-side {
        justify-content:flex-start;
        grid-column-start:1;
        grid-column-end: 3;
        &.favor {
            grid-column-end:4;
        }
        grid-row-start:2;
    }
}

.player-home {
    &.card-row {
        display:flex;
        flex-direction:row-reverse;
        justify-content:flex-start;
        align-items:flex-end;
        flex-wrap: wrap-reverse;

        grid-row-start:2;
        grid-column-start:1;
        grid-column-end:3;

        &.favor {
            grid-column-end:2;
        }
        &.our-side {
            align-items:flex-start;
            flex-direction:row;
            flex-wrap:wrap;
            grid-row-start:2;
            grid-column-start:3;
            &.favor {
                grid-column-start:4;
            }
            grid-column-end:5;
        }
    }
}

.deck-cards {
    display: flex;
    justify-content:space-between;
}

.province-row {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.left-decks {
    display:flex; 
    flex-direction:row;
    justify-content:flex-start;
}

.right-decks {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}


.card-row, .hand {
    display: flex;
    justify-content: flex-start;
}

.card-row .card.horizontal {
    margin-bottom: @card-height - @card-width;
}
.card-row {
    flex-direction:row;
    justify-content: flex-start;
}

.play-area {
    overflow:scroll;
    grid-row-start:1;
    grid-row-end:4;
    grid-column-start:2;
    grid-column-end:4;
    display:grid;
    grid-template-rows: minmax(2*@card-height+2*@attachment-offset,min-content) 1fr @center-bar-height 1fr minmax(2*@card-height+2*@attachment-offset,min-content);
    grid-template-columns: minmax(9*(@card-width+10px), auto) 10px @chat-width;

    &.small {
        grid-template-rows: minmax(2*@card-sm-height + 2*@attachment-offset-sm, min-content) 1fr @center-bar-height 1fr minmax(2*@card-sm-height + 2*@attachment-offset-sm, min-content);
        grid-template-columns: minmax(9*(@card-sm-width+10px), auto) 10px (@card-sm-width*3) @chat-width;
    }

    &.large {
        grid-template-rows: minmax(2*@card-lg-height+2*@attachment-offset-lg,min-content) 1fr @center-bar-height 1fr minmax(2*@card-lg-height+2*@attachment-offset-lg,min-content);
        grid-template-columns: minmax(9*(@card-lg-width+10px), auto) 10px (@card-lg-width*3) @chat-width;
    }

    &.x-large {
        grid-template-rows: minmax(2*@card-xl-height + 2*@attachment-offset-xl,min-content) 1fr @center-bar-height 1fr minmax(2*@card-xl-height + 2*@attachment-offset-xl,min-content);
        grid-template-columns: minmax(9*(@card-xl-width+10px), auto) 10px @chat-width;
    }
}