@import "sidebar/honor-fan";
@import "sidebar/province-deck";
@import "sidebar/rings";

.province-pane {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.sidebar-pane {
    display:flex;
    flex-direction: column;
    &.our-side {
        align-content:space-between;
    }
    &.their-side {
        align-content:space-between;
    }
}

@media (max-width: 1366px) {
    .province-pane {
        max-width: 220px;
    }
}
