.province-group {
    margin:0 0 0 0;

    &.our-side {
        grid-row-start:2;
        grid-column-start: 4;
    }
}

.province-deck {

    &.our-side {
        justify-content: flex-start;
    }

    .popup {
        position: absolute;
        min-height: 92px;
        min-width: 180px;
        left: 90px;
        top: -75px;

        .inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            min-height: 128px;

            .card-wrapper {
                margin: 5px 0 0 0;
            }
        }

        &.hidden {
            display: none;
        }
    }

    &.large {
        .popup {
            min-width: 240px
        }
    }

    &.x-large {
        .popup {
            min-width: 320px
        }
    }
}
