.ring-pane {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ring-panel {
    padding: 0;
    display: flex;
    grid-row-start:5;
    grid-column-start:2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    font-size:40pt;
}

.ring-prompt {
    font-size:40pt;
    min-height:@ring-height;
    min-width:@ring-width;
}

.claimed-pool {
    font-size:24pt;
    display:flex;
    justify-content:flex-start;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    margin:10px;
}

circle.ring-background {
    position:absolute;
    z-index:0;
    cx:50%;
    cy:50%;
    r:50%;
    
    &.unselectable {
        filter: brightness(60%);
    }
}

svg.ring-svg {
    top:0px;
    position:absolute;
    height:@ring-height;
    width:@ring-width;
    
    &.contested {
        &.tint-military {
            -webkit-filter: drop-shadow( 0 0 12px pink);
            filter: drop-shadow( 0 0 12px pink);
        }
        &.tint-political {
            -webkit-filter: drop-shadow( 0 0 12px lightblue);
            filter: drop-shadow( 0 0 12px lightblue);
        }
        &.tint-neutral {
            -webkit-filter: drop-shadow( 0 0 12px white);
            filter: drop-shadow( 0 0 12px white);
        }
    }

    &.hidden {
        display:none;
    }
}
.ring-info {
    flex: 1;
    font-size: 12px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ring {
    margin-right:5px;
    margin-top:0px;
    position:relative;
    color:white;
    min-height: @ring-height;
    max-height: @ring-height;
    max-width: @ring-width;

    &.unselectable {
        filter: brightness(60%);
      }

    &.hidden {
        display:none;
        margin-right:0px;
    }
}

.tint-military {
    fill: @military-ring-color;
    &.unselectable {
        fill:darkred;
    }
  }
  
  .tint-political {
    fill: @political-ring-color;
    &.unselectable {
        fill:darkblue;
    }

    .tint-neutral {
        fill: darkgrey;
        &.unselectable {
            fill:darkslategrey;
        }
    }
  }

@media (max-width: 1366px) {
    .ring-panel {
        padding: 0 5px;
        font-size:24pt;
    }

    .claimed-pool {
        font-size:18pt;
    }

    .ring-info {
        font-size: 10px;
    }
}
